.header {
  // display: flex;
  padding-top: 30px;


  @include tablet {
    padding-inline: 20px;
  }

  @include mobile {
    display: flex;
    justify-content: space-between;
    padding-inline: 30px;
  }

  @include mobile-s {
    padding: 10px 10px 0;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 150px;

    @include mobile {
      display: contents;
    }

    @include tablet {
      column-gap: 45px;
    }
  }

  &__logo-menu {
    display: flex;
    align-items: center;
    column-gap: 235px;

    @include desktop {
      column-gap: 165px;
    }

    @include tablet {
      column-gap: 80px;
    }
  }

  &__menu {
    max-width: 582px;

    &-list {
      display: flex;
      align-items: center;
      column-gap: 65px;
      white-space: nowrap;

      @include desktop {
        column-gap: 50px;
      }

      @include tablet {
        column-gap: 40px;
      }
    }

    &-item {
      position: relative;
      display: inline-flex;
      align-items: center;
      height: 35px;

      @include tablet {
        // font-size: 16px;
      }

      @include hover {
        opacity: 0.8;
        &::after {
          width: 100%;
        }
      }

      &::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        translate: -50%;
        width: 0;
        height: 2px;
        background-color: currentColor;
        transition-duration: var(--transition-duration);
      }
    }
  }

  &__actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 20px;

    @include mobile {
      order: 0;
    }

    &-item {
      flex-shrink: 0;
      @include hover {
        opacity: 0.6;
      }
    }
  }

  &__burger-button {
    @include mobile {
      order: -2;
    }
  }
}
